<!DOCTYPE html>
<html>
    <head>
        <title>게시판 상세보기</title>
    </head>
    <body>
        <h1>게시판 상세보기</h1>
        <table border="1">
            <tr>
                <th>번호</th>
                <td><%= boardDetail.board_no %></td>
            </tr>
            <tr>
                <th>제목</th>
                <td><%= boardDetail.board_title %></td>
            </tr>
            <tr>
                <th>내용</th>
                <td><%= boardDetail.board_content %></td>
            </tr>
            <tr>
                <th>작성자</th>
                <td><%= boardDetail.board_user %></td>
            </tr>
            <tr>
                <th>날짜</th>
                <td><%= boardDetail.board_date %></td>
            </tr>
            
            <%
            if(boardDetail.boardfile_name == null){
            %>
            <tr>
                    <th>파일 다운로드</th>   
                    <td>파일 없음</td>               
            </tr>
            <%
            }else{
            %>
            <tr>
                <th>파일 다운로드</th>
                <td><a href="D:\node-project\nodedb\public\uploads/<%=boardDetail.boardfile_name%>.<%=boardDetail.boardfile_ext%>" download>download</a></td>
                <!-- <td><%=boardDetail.boardfile_name%>.<%=boardDetail.boardfile_ext%></td> -->
            </tr>
            <%
            }
            %>

        </table>
        <a href="/boardList" type="button"><button>목록</button></a>
            <a href="/updateBoard/<%=boardDetail.board_no %>" type="button"><button>수정</button></a>
            <a href="/deleteBoard/<%=boardDetail.board_no %>" type="button"><button>삭제</button></a>
    </body>
</html>